@model IEnumerable<AppMVC01.Models.CLIENTES>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dirección)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Teléfono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Correo_Electrónico)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Edad)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dirección)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Teléfono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Correo_Electrónico)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Edad)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CódigoCliente }) |
            @Html.ActionLink("Details", "Details", new { id=item.CódigoCliente }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CódigoCliente })
        </td>
    </tr>
}

</table>
